

.ed-grid {
    background-color: aquamarine;
}
.banner{
    background-color: blue;
}
.logo{
    background-color: brown;
}
.foo{
    background-color: chocolate;
}
.info{
    background-color: cadetblue;
}
.logo2{
    background-color: rgb(97, 97, 107);
}
